@import url('https://fonts.googleapis.com/css?family=Kanit');
		body{
			background: url(image/health_bg.jpg);
			background-repeat: no-repeat;
			background-size: cover;
		}
		.container{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		[class*="row"]{
			padding: 1em;
		}
		*{
			font-family: 'Kanit', sans-serif;
			font-size: 1em;
		}
		.material-icons {
		  font-size: 1.5em; 
		}

		#bmi-form, #bmr-form, #cholesterol-form, #bmi-result, #bmr-result, #cholesterol-result{
			background-color: rgba(255, 255, 255, 0.6);
		}